#intro {
    display: none;
}

body.navigation-categories #intro {
    display: block;
}

#intro {
    ul {
        list-style-type: none;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
        a {
            background-color: #08c;
            padding: 6px 10px;
            font-weight: normal;
            color: #fff;
       }
       text-align: center;
       margin-bottom: 20px;
       margin-left: 0px;
    }
}
#intro ul li {
    display: inline;
    margin-left: 5px;
}

.mobile-view {
    .region-header .region-header-wrapper .block-system-branding-block a.site-logo::before {
        width: 150px;
        height: 100px;
        left: 10px;
        top: -5px;
    }

    .region-header .region-header-wrapper .block-system-branding-block a.site-logo img {
        width: 135px;
        top: 5px;
    }
    .region-header .region-header-wrapper .block.style-phone a::before {
        background: none;
    }


    header.d-header {
        background-color: #0093C9;
    }
    .d-header-icons .icon {

        color: #fff;

    }
}
