@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    --heading-font-family: Nunito, "Open Sans", sans-serif;
    --font-family: Nunito, sans-serif;
    --base-font-size: 18px;
    --tertiary-low: #00adf0;
    --primary-medium: #050769;
    --primary-low: var(--tertiary-low);
    --primary-very-low: #ECECFE;
    --primary-med-or-secondary-high: var(--primary-medium);
    --primary-high-or-secondary-low: var(--primary-medium);
    --primary-med-or-secondary-med: var(--primary-medium);
    --primary-low-mid-or-secondary-high: var(--primary-medium);
    --primary-high: var(--primary-medium);
    --primary-low-mid: var(--primary-medium);
    --tertiary-low-or-tertiary-high: var(--tertiary-low);
    --header_primary-low-mid: var(--header-primary);

    /* Custom colors */
    --region-header-bg-color: var(--tertiary);
    --region-header-color: #222222;
    --region-header-height: 50px;
    --region-header-link-color: var(--tertiary-low);
    --region-header-helpline-link-color: #ffffff;
}

/* someone decided to have a gradient in the secondary admin menu row ?! */
.admin-controls nav::before, .admin-controls nav::after {
    background: none;
}

#topic-title h1 {
    font-size: 2.5em;
    font-weight: 700;
}

header {
    display: block;
    margin-bottom: 0px;
}

.region-header {
    font-style: normal;
    font-weight: 400;
    background-color: var(--region-header-bg-color);
    height: var(--region-header-height);
}

.region-header .region-header-wrapper {
    max-width: 1110px;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    text-align: right;
    font-size: 18px;
    color: var(--region-header-color);
}
.region-header .region-header-wrapper {
    line-height: var(--region-header-height);
    text-align: right;
}

.region-header .region-header-wrapper .block {
    display: block;
    white-space: nowrap;
}

.region-header .region-header-wrapper .block-system-branding-block {
    width: 265px;
    position: relative;
    -ms-flex-item-align: left;
    align-self: left;
    margin-left: -5px; /* overlap the other logo */
}
.region-header .region-header-wrapper .block {
    padding-left: 1em;
    padding-right: 1em;

    a, a:visited, a:hover {
        color: var(--region-header-link-color);
        text-decoration: none;
        outline: 0;
    }
    a:hover {
        text-decoration: underline;
    }
}

.region-header .region-header-wrapper #block-helpline {
    a, a:visited, a:hover {
        color: var(--region-header-helpline-link-color);
    }
}
.region-header div.region-header-wrapper, html.puk-2018 .region-header div.region-header-wrapper #cludo-search-content-form {
    font-size: 18px;
}

.region-header .region-header-wrapper .block.style-phone a::before {

    background: url("data:image/svg+xml;charset=utf8,%3Csvg width='1792' height='1792' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23FFF' fill='%23FFF' d='M1600 1240q0 27-10 70.5t-21 68.5q-21 50-122 106-94 51-186 51-27 0-52.5-3.5T1151 1520t-47.5-14.5-55.5-20.5-49-18q-98-35-175-83-128-79-264.5-215.5T344 904q-48-77-83-175-3-9-18-49t-20.5-55.5T208 577t-12.5-57.5T192 467q0-92 51-186 56-101 106-122 25-11 68.5-21t70.5-10q14 0 21 3 18 6 53 76 11 19 30 54t35 63.5 31 53.5q3 4 17.5 25t21.5 35.5 7 28.5q0 20-28.5 50t-62 55-62 53-28.5 46q0 9 5 22.5t8.5 20.5 14 24 11.5 19q76 137 174 235t235 174q2 1 19 11.5t24 14 20.5 8.5 22.5 5q18 0 46-28.5t53-62 55-62 50-28.5q14 0 28.5 7t35.5 21.5 25 17.5q25 15 53.5 31t63.5 35 54 30q70 35 76 53 3 7 3 21z'/%3E%3C/svg%3E") 50% 50% no-repeat;
    display: inline-block;
    content: '';
    background-size: contain;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-position-y: 3px;

}

.region-header .region-header-wrapper .block-system-branding-block a.site-logo img {
    width: 200px;
    position: absolute;
    z-index: 2500;
    left: 15px;
    top: 5px;
    border: 0;
}

a {
    background-color: transparent;
}
.region-header .region-header-wrapper .block {
    white-space: nowrap;
}

/* this block is behind the logo and prevents the 'real' logo from shining through */
.region-header .region-header-wrapper .block-system-branding-block a.site-logo::before {
    content: '';
    width: 250px;
    height: 152px;
    background-color: var(--header_background);
    position: absolute;
    z-index: 2499;
    top: -40px;
    left: 1px;
}

/***/


header.d-header {
    background-color: var(--region-header-bg-color);

    .headerLink a {
        color: var(--region-header-helpline-link-color);
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        padding: 6px 6px;
    }
}

/* back to normal when docked */
body.docked header.d-header {
    background-color: var(--header_background);
}
