
/* show less menu items on iPad (which uses desktop view but is not very wide) */

@media only screen and (max-width: 770px) {
    .vdo {
        display: none !important;
    }
    .vdo:first-child, .vdo:last-child {
        display: block !important;
    }
}

/*** hero ***/

#hero, #intro {
    display: none;
}
#hero img {
     
}
body.navigation-categories #hero, body.navigation-categories #intro {
    display: block;
}
body.navigation-categories #main-outlet {
    padding-top: 0;
}
#intro {
    margin-top: 10px;
}

#intro {
    h1 {
        font-size: 3em;
    }
    .column {
        float: left;
        font-family: 'Open Sans', sans-serif;
    }
    .column p, .column ul {
        font-size: 12pt;
        margin-top: 0px;

    }

    .column ul {
        list-style-type: none;
        font-weight: bold;
    }
    .column ul a {
        color: #222222;
    }
    .column ul {
        text-align: right;
    }
    .column img {
        width: 100%;
    }
    .left {
      width: 75%;
      padding-right: 15px;
    }

    .right {
      float: right;
      padding-left: 15px;
      width: 20%;
    }

    .right img {
        max-width: 250px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    .center {
        margin: auto;
        width: 50%;
        border: 3px solid green;
        padding: 10px;
    }
}
